/* You can add global styles to this file, and also import other style files */
.box-hidden{
  display: none;
}

#load-more{
  margin: 0px auto;
  display: inherit;
}
.description-detail{
  margin-top:50px;
}

.primary-comment-text,.child-comment-text , .second-child-comment-text{
  display: none;
}

.inside-comment{
  font-size: 18px;
  font-weight: bold;
  color: #3b708f;
}

.inside-text-area ,.inside-text-area-inside{
  margin-left:30px;
}
