/* You can add global styles to this file, and also import other style files */
.box-hidden{
  display: none;
}

#load-more{
  margin: 0px auto;
  display: inherit;
}
.description-detail{
  margin-top:50px;
}
